nav{
    height: 150px;
    background-color: rgb(252, 186, 3);
}
nav>img{
    width: 250px;
    height: 100px;
    color: black;
}
img{
    width: 100%;
    height: 700px;
}

.mid{
    background-color: rgb(252, 186, 3);;
    display: flex;
    width: 100%;
    height: 250px;
}